<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Skill</title>
</head>
<body>
  <h1>New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <input placeholder="New Skill" type="text" name="text">

    <select name="level" > 
        <option value="Beginner">Beginner</option> 
        <option value="Intermediate">Intermediate</option> 
        <option value="Expert">Expert</option> 
    </select>
    <button type="submit">Save new skill</button>
  </form>
  
  </br>
  <a href="/skills">Go back</a>
</body>
</html>