<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=skill.text%></title>
</head>
<body>
  <h1><%=skill.text%></h1>  
  <h2>Skill ID #<%= skill._id %></h2>
  <p>Skill Level: <%= skill.level %></p>
	<a href="/skills">Go back</a>
</body>
</html>